@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.hover-effect:hover {
  background-color: rgba(68, 68, 68, 1);
  color: white;
}
.wlcm {
  font-family: Crimson Pro;
  font-size: 32px;
  font-weight: 400;
  /* line-height: 35.56px; */
}
.brands {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 21px; */
}
.main {
  position: relative;
}
.header {
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #c4baf5, #fceff6);
}
